
/* OLD CSS */
/* html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  background-image: url("../images/champloo.jpeg");
}

.headerText {
  font-family: 'Georgia', Times, serif;
  font-size: 24px;
  font-weight: bold;
}

p {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-top: 20px;
}

a {
  color: darkorange;
}

hr {
  color: darkorange;
  background-color: orange;
}

.btn {
  background-color: blue;
}

.navbar {
  background-color: darkorange;
  color: #777777;
  margin-bottom: 30px;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0;

}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
}

.nav-item {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}

.button {
  position: absolute;
  top: 10px;
  width: 200px;
  padding: 15px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 5px;
}

.image {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.image img {
  width: 90%;
  border: 0 none;
  opacity: 0.8;
}

.image h3 {
  position: absolute;
  bottom: 10px;
  width: 90%;
  padding: 8px;
  margin-bottom: 0;
  font-weight: 20;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background: darkorange;
  border-bottom: 0;
}

.main {
  width: 100%;
  max-width: 650px;
  padding: 30px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: auto;
  background: #fff;
} */

/* /////////////////////////////////////////////////////////////////// */
body {
  background-color: #00293b;
  color: rgba(255, 255, 255, 0.8);
}

h1,
h4 {
  color: darkorange;
}

h3 {
  font-size: 1.4em;
  letter-spacing: 0.04em;
}

#landing {
  height: 100vh;
  background-image: url("../images/champloo.jpeg");
  background-position: center;
  background-size: cover;
  
}
#footer {
  font-style: italic;
}

#mainText {
  margin-top: 30vh;
}

#intro {
  margin-top: 50px;
}

#contact {
  background-color: #00293b;
}

#p1 {
  height: 350px;
}

.b-expertise {
  border-radius: 6px;
}


/* #b-email-phone {
  line-height: 1.9em;
}

#b-email-phone a:hover {
  text-decoration: underline;
}

#b-follow-me div:hover {
  transform: scale(1.05);
}

#b-follow-me svg {
  fill: var(--color-cyan-darken-2);
  width: 1em;
  height: 1em;
  margin-top: 0.1em;
} */
